<!DOCTYPE html>
<html>

<head>
    <title>Recipe Generator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <h2>Input 3 Ingredients</h2>

    <form action="/generate_recipe" method="post">
        <input type="text" name="ingredient" placeholder="Ingredient 1" required>
        <input type="text" name="ingredient" placeholder="Ingredient 2" required>
        <input type="text" name="ingredient" placeholder="Ingredient 3" required>

        <label class="subheading" for="cuisine">Choose a cuisine:</label>
        <select name="cuisine" id="cuisine">
            {% for cuisine in cuisines %}
            <option value="{{ cuisine }}">
                {{ cuisine }}
            </option>
            {% endfor %}
        </select>

        <label class="subheading">Dietary Restrictions:</label>
        <div class="checkbox-container">
            {% for restriction in dietary_restrictions %}
            <div class="checkbox-group">
                <label class="checkbox-label">
                    <input type="checkbox" name="restrictions" value="{{ restriction }}">
                    {{ restriction }}
                </label>
            </div>
            {% endfor %}
        </div>

        <label class="subheading" for="language">Choose a language:</label>
        <select name="language" id="language">
            {% for language, code in languages.items() %}
            <option value="{{ code }}">
                {{ language }}
            </option>
            {% endfor %}
        </select>

        <input type="submit" value="Generate Recipe">
    </form>

    <p class="name">2022810013 김세림</p>
</body>

</html>